:root {
	// Colours
	--cl-neutral-800: hsl(217, 44%, 22%);
	--cl-neutral-500: hsl(219, 15%, 55%);
	--cl-neutral-200: hsl(211, 45%, 89%);
	--cl-neutral-100: hsl(0, 0%, 100%);

	// TYPOGRAPHY
	// Family
	--ff-main: 'Outfit', sans-serif;

	// Size
	--fs-400: .938rem;
	--fs-800: 1.375rem;

	// Weight
	--fw-regular: 400;
	--fw-bold: 700;

	// Element
	--ty-heading: var(--fw-bold) var(--fs-800) var(--ff-main);
	--ty-body: var(--fw-regular) var(--fs-400) var(--ff-main);
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
}

.top-wrapper {
	display: grid;
	align-content: center;
	margin: 0;
	min-height: 100svh;
	text-align: center;
	font: var(--ty-body);
	font-family: var(--ff-main);
	background: var(--cl-neutral-200);
}

.qr-component {
	background: var(--cl-neutral-100);
	display: grid;
	width: 90%;
	max-width: 20rem;
	margin: auto;
	padding: 1rem 1rem 2.5rem;
	border-radius: 1.25rem;
	box-shadow: 0 1.563rem 1.563rem 0 rgba(0, 0, 0, 0.0477);
}

.qr-component__image {
	border-radius: .625rem;
	margin-bottom: 1.5rem;
}

.qr-component__heading {
	font: var(--ty-heading);
	color: var(--cl-neutral-800);
	margin: 0 .5rem 1rem;
}

.qr-component__copy {
	font: var(--ty-body);
	color: var(--cl-neutral-500);
	letter-spacing: .012em;
	margin: 0 .5rem;
}

.signature {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
	white-space: nowrap;
}